.flex-center{
    display: flex;
    justify-content: center;
    align-items: center;
    height: calc(95vh - 3rem);
}
.Layout{
    height: calc(95vh - 2rem);
    overflow: auto;
    padding: 0.5rem;
}
.nav{
    display: flex;
    flex-direction: column;
    row-gap: 0.5rem;
    cursor: pointer;
}